//Home
.home {
    #top {
        padding: 100px $grid-gutter;
        margin-bottom: $grid-gutter;
        background-color: theme-color(yellow);
        font-size: 45px;

        a{
            color: theme-color(blue);
            display: inline-block;
            //border-bottom: 4px solid theme-color(blue);
            text-decoration: none;
            padding-bottom: 0;
            line-height: 1em;

            &:hover{
                color: theme-color(red);
                border-bottom-color: $black;
            }
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter-mobile;
            padding-right: 80px;
            //padding: $grid-gutter * 2 $grid-gutter-mobile $grid-gutter;
            font-size: 1.1em;
        }
    }

    #portfolio{
        position: relative;
        padding: 0 $grid-gutter / 2;
        //padding-right: 90px;

        .grid-item,
        .grid-sizer{
            float: left;
            width: 25%;
            padding: $grid-gutter / 2 $grid-gutter / 2 $grid-gutter * 1.5;

            h2{
                display: inline;

                a{
                    text-decoration: none;
                }
            }

            .grid-image{
                display: inline-block;
                margin-bottom: $grid-gutter-mobile;

                .image{
                    overflow: hidden;
                }
                
                img{
                    transition: .3s;
                }
            }

            &.featured{
                width: 50%;
            }

            &:hover{
                h2{
                    background-color: theme-color(yellow);
                }
            }

            @include media-breakpoint-down(sm){
                padding: 0;
                margin-bottom: $grid-gutter;
                width: 100%;

                .grid-image{
                    margin-bottom: 10px;
                }

                &.featured{
                    width: 100%;
                }

                .tag{
                    font-size: .9em;
                }
            }
        }
    }
}

//About
.page.about{
    #top, #clients{
        padding: 50px 20px;
        font-size: 35px;

        .wrap{
            max-width: 1200px;
        }
    }

    #top{
        background-color: theme-color(yellow);

        @include media-breakpoint-up(md){
            padding-right: 150px;
        }

        span.sharon, 
        span.francois{
            white-space: nowrap;
            display: inline-block;
            line-height: 1em;
            border-bottom: 4px solid theme-color(blue);
            cursor: pointer;
        }

        .photos{
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events:none;
            background-color: rgba(0,0,0, 0.005); //Seems to help refresh the display

            .sharon, 
            .francois{
                display: none;
                height: 80%;
                max-height: 800px;

                &.active{
                    display: block;
                }
            }
        }
    }

    #clients{
        background-color: theme-color(blue);
        color: $white;

        .client-logos{
            padding: $grid-gutter 0;

            .client{
                padding: 20px;
                
                @include media-breakpoint-up(md){
                    flex: 0 0 20%;
                    max-width: 20%;
                }

                @include media-breakpoint-up(lg){
                    flex: 0 0 10%;
                    max-width: 10%;
                }
            }
        }
    }

    @include media-breakpoint-down(sm){
        #top, #clients{
            padding: 20px;
            padding-right: 50px;
            font-size: 1.5em;
        }
    }
}


//Contact Footer
#contact{
    padding: 0;
    font-size: 18px;

    
    @include media-breakpoint-up(md){
        font-size: 20px;
    }

    @include media-breakpoint-up(xl){
        font-size: 25px;
    }

    &> div{
        padding: $grid-gutter;

        @include media-breakpoint-down(sm){
            padding: 20px;
        }
    }

    .locationInfo{
        padding: $grid-gutter;
        text-align: center;
        display: flex;
        align-items: center;
        background: theme-color(black);
        color: theme-color(white); 

        .cityBlock{
            margin-bottom: $grid-gutter;
            font-size: 1em;
        }

        #city{
            text-decoration: underline;
            white-space: nowrap;
        }

        i{
            font-size: $grid-gutter;
        }

        @include media-breakpoint-down(sm){
            padding: $grid-gutter-mobile;

            .cityBlock{
                margin-bottom: $grid-gutter;
                //font-size: 1.3em;
            }
        }
    }

    .contactInfo{
        background-color: theme-color(yellow);
        display: flex;
        align-items: center;

        .email{
            font-size: 1.2em;
            margin-bottom: $grid-gutter;

            @include media-breakpoint-down(md){
                margin-bottom: $grid-gutter-mobile;
                font-size: 1em;
            }
        }

        a{
            display: block;
            color: $black;
            text-decoration: none;

            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }    
    }
}

@include media-breakpoint-down(sm){
    #contact{
        font-size: 20px;

        .locationInfo{
            i{
                font-size: 50px;
                margin-bottom: 10px;
            }
        }
    }
}